*{
	all: unset;
	font-size: 16px;
	font-weight: bold;
}

.topbar {
	background-color: rgba($color: #FFF, $alpha: 0.8);
}

.topbar_container {
	background-color: rgba($color: #000, $alpha: 0.8);
	padding: 2px 2px;
}

.left {
	margin: 2px 2px;
}

.middle {
	margin: 2px 2px;
}

.right {
	margin: 2px 2px;
}

.container {
	background-color: rgba($color: #000, $alpha: 0.8);
	border-radius: 10px;
	padding: 1px 10px;
}

.music_player {
	background-color: rgba($color: #000, $alpha: 0.8);
	border-radius: 10px;
	padding: 0px 10px;
}

.mp_control {
	font-size: 20px;
}

.mp_previous {
	margin-left: -1px;
	margin-right: 9px;
}

.mp_play {
	font-size: 19px;
}

.mp_pause {
	font-size: 19px;
	margin-right: 4px;
}

.mp_next {
	margin-right: 2px;
}

.st_cpu {
	font-size: 18px;
	// margin-right: 6px;
}
